*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../images/11.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    text-align: center;

}

.logo {
    color: #ff7200;
    font-size: 45px;
    font-family: Times New Roman;
    padding: 25px 0 0 25px; /* Add padding for spacing */
}
.logo1 {
    margin-top: 100px;
    color: #fff;
    font-size: 15px;
    font-family: Times New Roman;
    padding: 15px 0 ; /* Add padding for spacing */
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 60px;
    left: 700px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.logo6 {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}

.form1{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 60px;
    left: 200px;
    transform: translate(0%,-5%);
    border-radius: 10px;
   padding: 25px;

}
.logo2 {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
}

.form1 h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form1 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}

.form1 input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}